<header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
  
  <div class=" mb-md-0 nav-menu-logo">
    <div class="logo-holder">
      <img src="../favicon.ico" alt="avatar">
    </div>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-menu">
    <li><a href="" class="nav-link px-2 link-secondary">
      <i class="bi bi-house"></i>
    </a></li>
    <li><a href="common" class="nav-link px-2 link-secondary">
      <i class="bi bi-arrow-repeat"></i>
      <span>Общие</span>
    </a></li>
    <li><a href="faculties" class="nav-link px-2 link-secondary">
      <i class="bi bi-bank"></i>
      <span>Факультеты</span>
    </a></li>
    <li><a href="specializations" class="nav-link px-2 link-secondary">
      <i class="bi bi-person-circle"></i>
      <span>Специализации</span>
    </a></li>
    <li><a href="locations" class="nav-link px-2 link-secondary">
      <i class="bi bi-globe-americas"></i>
      <span>Локации</span>
    </a></li>
    <li><a href="predictions" class="nav-link px-2 link-secondary">
      <i class="bi bi-bookmark-fill"></i>
      <span>Предсказание</span>
    </a></li>
  </ul>

  <div class="col-md-3 text-end"></div>
</header>

<router-outlet></router-outlet>