<div class="d-flex home">
    <div class="col-5">
        <div class="row stat-list">
            <h4 class="col-header">Общие данные</h4>
            <div class="col-6">
                <p class="stat-list-item">Название</p>
            </div>
            <div class="col-6">
                <p>Rabotyaga</p>
            </div>
            <div class="col-6">
                <p>Команда</p>
            </div>
            <div class="col-6">
                <p>Umlaut</p>
            </div>
            <div class="col-6">
                <p>Состав</p>
            </div>
            <div class="col-6">
                <p>Остромецкий, Стома, Максимов</p>
            </div>
            <div class="col-6 exception">
                <p>Обратная связь</p>
            </div>
            <div class="col-6 exception">
                <p>umlaut@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-7">
        <h4 class="col-header">Краткое описание</h4>
        <div class="information">
            <p>Rabotyaga - это веб приложение по сбору и анализу резюме выпускиников МГТУ им Н.Е.Баумана на биржах труда</p>
            <p>Приложение автоматически собирает резюме в базу данных и через веб-интерфейс выдает статистистичесие данные по резюме по запросу пользователя</p>
            <p>Как источник данных был выбран сайт HH.ru, так как на нем доступно больше всего бесплатных резюме</p>
            <p>Для получения данных используется парсинг веб-страниц</p>
        </div>
    </div>
</div> 
