.col-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    background-color: #E2E2E2;
}

.stat-list div {
    border-bottom: 1px solid #E2E3E9;
    margin-top: 1.08rem;
    padding-left: 1.5rem;
}

.stat-list {
    border-right: 1px solid #E2E3E9;
    padding-right: 0;
    max-height: 300px;
}

.information {
    padding-left: 1.5rem;
}

.home {
    border-bottom: 1px solid #E2E3E9;
}

.exception {
    border-bottom: none !important;
}