<div class="d-flex">
    <div class="col-4">
        <div class="row stat-list">
            <form class="autocomplete">
                <mat-form-field class="autocomplete-full-width" appearance="fill">
                  <mat-label>Специализация</mat-label>
                  <input type="text" placeholder="Ввод..." aria-label="Number" matInput 
                  [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="ChangeSpecialization(option)">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </form>
            <div class="col-9">
                <p class="stat-list-item">Кол-во резюме</p>
            </div>
            <div class="col-3">
                <p *ngIf="specializationStat.Name!=''">{{specializationStat.ResumeCount}}</p>
            </div>
            <div class="col-9">
                <p>Средняя з/п</p>
            </div>
            <div class="col-3">
                <p *ngIf="specializationStat.Name!=''">{{specializationStat.AverageSalary}}</p>
            </div>
            <div class="col-9">
                <p>Средний опыт работы</p>
            </div>
            <div class="col-3">
                <p *ngIf="specializationStat.Name!=''">{{specializationStat.AverageExperience}}</p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <mat-form-field class="dropdown">
            <mat-label>Выберите график</mat-label>
            <mat-select value="faculties">
              <mat-option value="faculties" (click)="ChangeChart('faculties')">Топ факультетов</mat-option>
              <mat-option value="salary2experience" (click)="ChangeChart('salary2experience')">Зарплата к опыту</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="chart">
            <app-bar-chart [data]="listModel" *ngIf="grath=='faculties'"></app-bar-chart>
            <app-scatter-chart [data]="salary2experience" *ngIf="grath=='salary2experience'"></app-scatter-chart>
        </div>
    </div>
</div> 